body{
   background-position: 500px;
   background-size: auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin-top: 60px;
   margin-bottom: 70px;
   margin-left: 70px;
   margin-right: 70px;
}
h2{
    text-align: center;
    background-color:powderblue;
}
.search
{
    width:330px;
    float: right;
    margin-left: 270px;
    text-align: right;
    text-align: right;
}
.srch
{ 
    font-family: 'Times New Roman';
    width:200px;
    height:40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color:white;
    border-right: none;
    font-size:16px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width:100px;
    height:40px;
    background:orange; 
    border:2px solid orange;
    margin-top:13px;
    color:aliceblue;
    font-size: 15px;
    border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}

